/*===================== 
	Primary bg color 
=====================*/

/* Hex */
.bg-primary,
a.bg-primary:hover,
.overlay-primary-light:after,
.overlay-primary-middle:after,
.overlay-primary-dark:after,
.site-button{
    background-color: #5b8068;
}

/*Hex color :hover */
.site-button:active,
.site-button:hover,
.site-button:focus,
.active > .site-button,
.bg-primary-dark,
.sidenav .closebtn:hover,
.style-2 .dez-social-icon.dez-border li a:hover{
    background-color: #7ba088;
}

/*===================== 
	Premery text color 
=====================*/
a,
.text-primary,
.site-button.outline,
.dez-countdown .date .time {
    color: #5b8068;
}

/*===================== 
	Border Color color 
=====================*/
.site-button.outline,
.dez-countdown .date .time{
	border-color:#5b8068;
}