
@font-face {
  font-family: "TheSans";
  src: url("../styles/font/TheSans-Bold.otf") format("opentype");
}
.responsive {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


body {
  font-family: "TheSans";
  /*font-weight: bold;*/
  direction: rtl;
}

canvas {
  width: 100%;
  height: auto;
}

.name-place {
  font-size: 29px;
}

.main-cont {
  border-top: 3px #007298 solid;
}
