
@font-face {
  font-family: "DIN-NEXT-LT-ARABIC-LIGHT";
  src: url("DIN-NEXT-LT-ARABIC-LIGHT.OTF") format("truetype");
}

body {
  font-family: "DIN-NEXT-LT-ARABIC-LIGHT";
  /*font-weight: bold;*/
  direction: rtl;
}

canvas {
  width: 100%;
  height: auto;
}

.name-place {
  font-size: 29px;
}

.main-cont {
  border-top: 3px #007298 solid;
}
